<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

        <title>GT Career Website</title>

        <style>
            #logo {
                width: 100%;
                object-fit: cover;
                height: 250px;
            }
        </style>

    </head>
    
    <body style="padding-top: 60px;">
        {% include 'navbar.html' %}
        <img id="logo" class="img-fluid" src="/static/Banner.jpg">
        <div class="container">
            <H1 class="text-center mt-2 mb-3">{{company_name}} Career Portal</H1>

            <div class="row" style="margin-bottom: 16px;">
                <div class="col-md-6">
                    <p class="lead">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt maiores facilis autem non, perferendis inventore nisi accusantium a dolorum consequuntur fuga similique? Repellendus facere eos blanditiis cumque, distinctio provident unde?
                    </p>
                </div>
                <div class="d-none d-md-block col-md-6">
                <img src="/static/Tiny people searching for business opportunities.jpg"
                  style="height: 220px; border-radius: 4px;">

                </div>
            </div>

            <h3 class="text-center mb-3">Open Positions</h3>
            <div>
                {% for job in jobs %}
                    {% include 'jobitems.html' %}
                {% endfor %}
            </div>
            
            <div class="text-center">
                <button type="button" class="btn btn-primary btn-lg">Contact Us</button>
            </div>
        </div>
        {% include 'footer.html' %}
    </body>
</html>