<div class="border border-success p-2 mb-2 border-opacity-50 row"
    style="margin-bottom: 16px; padding-bottom: 8px;">
    <div class="col-10">
        <h4 style="color: darkslategrey; margin: auto;">
            {{job['title']}} 
        </h4>
        <div>
            <b>Location : </b> {{job['Location']}}
        </div>
        {% if 'Salary' in job %}    
        <div> 
            <b>Salary : </b> {{job['Salary']}}
        </div>    
        {% endif %}
    </div>
    <div class="col-2">
        <a href="mailto:https://gautam-career-website.onrender.com?subject=Application%20to%20apply%20for%{{job['title']}}&body=My%20name%20%3A%20%3CEnter%20your%20name%3E%0D%0A%0D%0ALinkedIn%20Profile%20%3A%20%3CEnter%20your%20LinkedIn%20profile%3E%0D%0A%0D%0AResume%20Link%20%3A%20%3CEnter%20your%20Resume%20Link%3E"  type="button" class="btn btn-outline-info">Apply</a>
    </div>
</div>